.tags {
  margin: 2rem 0;
  background: #ccc;
  padding: 1.25rem 1rem;
  border: 2px solid #333;
  border-radius: 3px;
}
.tag-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
